.header {
  /* Add styling for the header */
  padding: 20px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  margin-left: auto;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-left: 20px;
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link--nav:hover {
  text-decoration: underline;
}