:root {
  --clr-primary: #000000; /* Primary color */
  --clr-bg: #ffffff; /* Background color */
  --clr-fg: #000000; /* Foreground color */
}

.app {
  font-family: sans-serif;
  background-color: var(--clr-bg);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally as well */
}

.link {
  color: var(--clr-primary);
  padding-bottom: 0.3em;
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Remove underline from links */
}

.link--nav {
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}
