:root {
  --clr-bg: #89CFF0;
  --clr-primary: #000000;
}

.app {
  font-family: sans-serif;
  background-color: var(--clr-bg);
}

.center {
  display: flex;
  align-items: center;
}

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
  cursor: pointer;
}

.link--nav {
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}